.business-card
    max-width 440px
    margin auto

    display flex
    align-items center
    user-select none

    a $vladimir_kalinichev_1_total_width

    @media $portrait
        flex-direction column

    &__photo-wrapper
        flex 0 0 128px
        height 128px
        margin 0 40px 0 0

        @media $portrait
            margin 0 0 32px
            width 128px

    &__photo
        width 100%
        height @width
        border-radius 50%
        overflow hidden
        background transparent center / cover
        spriteImage( $vladimir_kalinichev_1 )
        spritePositionX( $vladimir_kalinichev_1 )
        animation pixelize .2s steps( 4 ) forwards

        &:hover
            animation-name unpixelize

        @media $portrait
            &:active
                animation-name unpixelize

    &__info
        padding-bottom 10px
        color #7a7b87
        font-size 1.6em
        font-weight 300
        user-select auto
        text-align center

        @media $portrait
            text-align center

    &__name
        margin 0 0 .1em

        font-size 2.2rem
        font-weight 400
        color #333

        @media $portrait
            font-size @font-size * 1.09
            margin-bottom .3em

    &__post
        position relative
        //display inline-block

        margin 0 .65em .7em
        padding .1em .4em .2em

        color black

        font-weight normal

        &:before
            content ''
            position: absolute
            top 0
            left 0
            right 0
            bottom 0
            margin 0 auto
            background $jsYellow
            z-index -1
            transform perspective(100px) rotateX(-16deg)

            @media $portrait
                transform perspective(100px) rotateX(-14deg)
                width 99%


@keyframes pixelize
    from
        spritePositionX( $vladimir_kalinichev_1 )
    to
        spritePositionX( $vladimir_kalinichev_5 )

@keyframes unpixelize
    from
        spritePositionX( $vladimir_kalinichev_5 )
    to
        spritePositionX( $vladimir_kalinichev_1 )
