.business-card
    max-width 440px
    margin auto

    display flex
    align-items center
    user-select none

    @media $mobile
        flex-direction column

    &__photo-wrapper
        flex 0 0 128px
        height 128px
        margin 0 40px 0 0

        @media $mobile
            margin 0 0 32px
            width 128px

    &__photo
        width 100%
        height @width
        border-radius 50%
        overflow hidden
        background transparent center / cover
        spriteImage( $vladimir_kalinichev_1 )
        spritePosition( $vladimir_kalinichev_1 )

        &:hover
            animation pixOut 1.2s linear forwards

        @media $mobile
            &:active
                animation pixOut .2s linear forwards

    &__photo-inner
        width 30%
        height 30%
        opacity .01
        pointer-events none

    &__info
        padding-bottom 10px
        color #7a7b87
        font-size 1.6em
        font-weight 300
        user-select initial

        @media $mobile
            text-align center

    &__name
        margin 0 0 .1em

        font-size 2.2rem
        font-weight 400
        color #333

        @media $mobile
            margin-bottom .3em

    &__post
        color inherit
        margin-bottom .75em


@keyframes pixIn
    to
        spriteImage( $vladimir_kalinichev_6 )

@keyframes pixOut
    to
        spriteImage( $vladimir_kalinichev_1 )
