.s0cial

    @media $portrait
        margin-top 1rem

    &__icon-link
        display inline-block
        width 24px
        height @width
        margin-right 12px

        @media $portrait
            width 28px
            height @width

        &_stackoverflow
            margin-right 8px

        &_npm
            width @width * 2

            @media $portrait
                width round( @width * 1.33 )

        &:hover
            opacity .75

    &__icon
        width inherit
        height inherit
