.social

    @media $mobile
        margin-top 2.5rem

    &__icon-link
        display inline-block
        width 24px
        height @width
        margin-right 12px

        @media $mobile
            width 32px
            height @width

        &_stackoverflow
            margin-right 8px

        &_npm
            width @width * 2

            @media $mobile
                width round( @width * 1.33 )

        &:hover
            opacity .75

    &__icon
        width inherit
        height inherit
