{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [ "eslint:recommended" ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "modules": true
        }
    },
    "plugins": [],
    "rules": {
        "arrow-parens": [ "warn", "as-needed" ],
        "quotes": [ "error", "single" ],
        "space-in-parens": [ "error", "always" ],
        "object-curly-spacing": [ "error", "always"],
        "no-console": [ "off" ],
        "no-unused-vars": [ "warn" ],
        "indent": [ "error", 4, { "SwitchCase": 1 } ],
        "semi": [ "error", "never" ],
        "react/jsx-no-bind": [ 2, {
            "allowArrowFunctions": true,
            "allowBind": false,
            "ignoreRefs": true
        } ],
        "react/no-did-update-set-state": 2,
        "react/no-unknown-property": 2

    }
}
