$gap = 40px




.card
    display flex
    align-items center
    user-select none

.photo
    width 128px
    height @width
    border-radius 50%
    overflow hidden
    margin 0 $gap 0 0
    background transparent center / cover
    animation pixIn .3s linear forwards

    &:hover
        animation pixOut .2s linear forwards

.info
    padding-bottom 10px
    color #888
    font-size 1.6em
    font-weight 300
    user-select initial

.title
    margin 0

    font-size 2.2rem
    font-weight 400
    color #333

.post
    color inherit
    margin-bottom .5em

.email
    color inherit


@keyframes pixIn
    for i in 1..6
        { 20% * (i - 1) }
            background-image url( s('./Vladimir.Kalinichev.%s.png', i ) )

@keyframes pixOut
    for i in 1..6
        { 20% * (6 - i) }
            background-image url( s('./Vladimir.Kalinichev.%s.png', i ) )
