.list
    display flex
    flex-wrap wrap

    list-style none
    padding 0
    margin 0

.item
    flex 1 1 30%
    height 100px

    margin 2px
    padding 0 4px 1px

    background #ccc
    border-radius 3px
    color #333
    cursor pointer

    &:hover
        background #eee


    &:nth-child( 1 )
    &:nth-child( 2 )
        flex 1 1 45%
        height 150px


