.section
    background darkgray

.container
    display flex
    width 500px
    min-height 100px
    align-items center
    justify-content space-between

    margin auto
    padding 20px

.light
    background white

.dark
    background #333
    color white

