include ./templates/social-icon

doctype

html( lang='en-US' )
  head

    title Vladimir Kalinichev - JavaScript Developer
    link( rel='stylesheet' href='./index.css' )
    script( type='text/javascript' )
      include ./scripts/ym.js

  body
    .wrapper
      .section
        .section__inner
          .business-card
            .business-card__photo
              img.business-card__photo-inner( src='./images/Vladimir.Kalinichev.1.png' )
            .business-card__info
              h1.business-card__name
                | Vladimir Kalinichev
              .business-card__post
                | JavaScript Developer

              .social
                a.social__icon.social__icon_github( href='https://github.com/vkalinichev' target='_blank' )
                  include ./icons/github.svg
                a.social__icon.social__icon_linkedin( href='https://www.linkedin.com/in/vkalinichev' target='_blank' )
                  include ./icons/linkedin.svg
                a.social__icon.social__icon_stackoverflow( href='https://stackoverflow.com/users/4974102' target='_blank' )
                  include ./icons/stackoverflow.svg
                a.social__icon.social__icon_npm( href='https://npmjs.org/~vkalinichev' target='_blank' )
                  include ./icons/npm.svg

    script( src='index.js' )
