doctype

include ./templates/social-icon

html( lang='en-US' )

  head

    meta( charset='utf-8' )
    meta( http-equiv='x-ua-compatible' content='ie=edge' )
    meta( name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' )

    title Vladimir Kalinichev - JavaScript Developer
    meta( name='description' content="Vladimir Kalinichev's personal website" )

    if production
      style
        include ./styles/.index.css
    else
      link( rel='stylesheet' href='./index.css' )

    include ./templates/favicons

    script( type='text/javascript' )
      include ./scripts/ym.js
    script( type='text/javascript' )
      include ./scripts/ga.js

  body
    .wrapper
      .section
        .section__inner
          .business-card
            .business-card__photo-wrapper
              .business-card__photo
            .business-card__info
              h1.business-card__name
                | Vladimir Kalinichev
              .business-card__post
                | JavaScript Developer

              .s0cial
                +social-icon( 'https://github.com/vkalinichev' )._github
                +social-icon( 'https://www.linkedin.com/in/vkalinichev' )._linkedin
                +social-icon( 'https://stackoverflow.com/users/4974102' )._stackoverflow
                +social-icon( 'https://npmjs.org/~vkalinichev' )._npm

    include ./icons/.icons.svg

    //-script( type='text/javascript' )
      include ./index.js
