$size = 24px

.icon
    width $size
    height @width
    opacity 1
    user-select none

    &:hover
        filter brightness(1.1)

    &:active
        filter brightness(.7)

.github
    color black

.linkedin
    color blue

.npm
    width $size*2
    color red

.stackoverflow
    color orange
